
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>RH Challange</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <body>
    <div class="jumbotron" align="center">
      <div class="container">
        <h1 >RH Challange</h1>
        <p>Página Inicial RH Challange, clique no botão abaixo para mais informações</p>
        <p align="center"><%= link_to 'Pessoas', employees_path, class:"btn btn-primary btn-lg" ,style:"color:#fff" %></p>
      </div>    
    </div>
  

</body>
</html>


